:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  background-image: url(assets/istockphoto-1489370084-612x612.jpg);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.square {
  background: #de3bc0c8;
  
  border: 1px solid #000000;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 104px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 104px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
  background-color: #de3bc0c8;
  font-size: larger;
  
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}


